# ===== AgroScan SQL Server =====
MSSQL_DATABASE=AgroScanDB
MSSQL_DRIVER=ODBC Driver 17 for SQL Server
MSSQL_ENCRYPT=yes
MSSQL_TRUST_CERT=yes
MSSQL_TIMEOUT=15

# LOCAL (solo tu laptop)
MSSQL_MODE=LOCAL_NP
MSSQL_AUTH=trusted

# LAN / FUTURO CLOUD (descomenta cuando toque)
# MSSQL_MODE=TCP
# MSSQL_SERVER=192.168.1.50
# MSSQL_PORT=1433
# MSSQL_AUTH=sql
# MSSQL_USER=usuario
# MSSQL_PASSWORD=clave
